img {
  width: 800px;
  height: 400px;
}
h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li a {
  display: block;
  padding: 8px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  list-style: none;
  text-decoration: none;
}

li a:hover {
  background-color: aqua;
}

.container {
  height: 500px;
  padding: 6px;
}
.container img {
  float: right;
  width: 400px;
  padding-right: 20px;
}

.structure {
  text-align: none;
  padding: 8px;
  margin: 20px;
}